body {
	background-color: lightgrey;
}

.block {
	display: block;
}

.section1 {
	font-weight: bold;
}

.section2 {
	font-weight: bold;
	font-style: italic;
}

.addcolor {
	color: blue;
}

.large {
	font-size: 30px;
}

.border {
	border: 1px solid black;
}

.rounding{
	border-radius: 25px;
}